<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Beans with constructor argument set by index-->
	<bean id="student" class="com.sk.springintro.model.Student">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="Ramesh"></constructor-arg>
		<constructor-arg index="2" value="Pune"></constructor-arg>
	</bean>

	<!-- Beans with constructor argument set by name-->
	<bean id="student2" class="com.sk.springintro.model.Student">
		<constructor-arg name="id" value="2"></constructor-arg>
		<constructor-arg name="name" value="Suresh"></constructor-arg>
		<constructor-arg name="address" value="Pimpri"></constructor-arg>
	</bean>
</beans>